<?xml version="1.0" encoding="UTF-8" ?>
  <!-- ADDED xmlns:android so the Android properties can be extended -->
  <widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:android   = "http://schemas.android.com/apk/res/android"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.bsdmasterindex.mobileui-popup-test"
    version     = "1.0"
    versionCode = "10" > <!-- versionCode is optional and Android only -->
    <preference name='phonegap-version' value='cli-5.2.0' />

    <name>MobileUI Popup</name>
    <description>MobileUI Popup</description>
    <author href="http://bsdmasterindex.com" email="jessemonroy650@yahoo.com">Jesse Monroy</author>

    <!-- Target Platforms -->
    <!-- Remove to test which platforms build by default. -->
    <platform name="android" />
    <platform name="ios" />
    <platform name="winphone" />

    <!-- PLUGINS * PLUGINS * PLUGINS -->
    <plugin name="cordova-plugin-device" source="npm" spec="1.0.1" />

  </widget>
