<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bsdmasterindex.mobileui-popup-test"
        version     = "1.0"
        versionCode = "10" >
        <!-- versionCode is optional and Android only -->
        <preference name="phonegap-version" value="3.5.0" />

        <name>MobileUI Popup</name>
        <description>MobileUI Popup</description>
        <author href="http://bsdmasterindex.com" email="jessemonroy650@yahoo.com">
        Jesse Monroy
        </author>
        <gap:platform name="android" />
		<gap:platform name="ios" />
		<!-- Thanks to Ben & Rahul on for the landscape fix -->
		<gap:config-file platform="android" parent="/manifest/application" >
        	<application android:debuggable="false" />
			<activity android:screenOrientation="landscape" android:configChanges="orientation" />
		</gap:config-file>
        <preference name="permissions" value="none"/>
		<!-- device required so we can detect if we are using iOS -->
        <gap:plugin name="org.apache.cordova.device" />
    </widget>
